// Variables - theme colors !default
$primary: #3299ef !default;
$secondary: #1ac888 !default;
$error: #d32752 !default;
$info: #f6c31c !default;
$main-bg-color: #fefefe !default;
$scheme-main: #fefefe !default;
$main-text-color: #141414;

// Text color
$text: #5A5A5A !default;

// color palette (map)
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "orange": #e61919,
    "purple": #9900ff,
    "slate": #768692,
    "cream": #FFFDD0,
    "white": white,
    "black": black,
);

// @debug map-get($colors, "orange" );
// @debug map-has-key($colors, "secondary");
// @debug map-remove($colors, "primary");
// @debug map-merge($colors, ("pink": #ffc0cb));

.test-btn {
    background-color: map-get($colors, "primary");
}

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

//borders
$base-border-thickness: 1px !default;
$base-border-radius: 10px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-md: $base-font-size * 1 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;